* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
    /* border: 1px solid red; */
    user-select: none;
}

.main {
    /* background-image: url(https://source.unsplash.com/1650x1000/?nature,water); */
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

.box {
    border: 2px solid #d29a9a;
    border-bottom: 4px ridge #d29a9a;
    border-radius: 10px;
    height: 41vh;
    width: 15vw;
    padding: 5px;
    background: radial-gradient(rgb(237, 6, 141), red, yellow, blue, orange, violet, cyan, transparent);
    box-shadow: -6px 6px 9px chartreuse, 2px 2px 20px 3px black;
}

.display input {
    cursor: default;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 6px;
    text-align: end;
    color: red;
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 3px grey;
    font-size: 20px;
    user-select: none;
    -moz-user-select: none;
}

input:focus {
    border: none;
    outline: none;
}

td {
    width: 35px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(131, 124, 122, 0.473);
    text-align: center;
    color: white;
}

table {
    cursor: pointer;
    padding: 2px;
    background-color: cyan;
    border-radius: 10px;
    width: 100%;
    height: 28vh;
    border-spacing: 1px;
    animation-name: bg-anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 4px 1px grey
}

@keyframes bg-anime {
    0% {
        background-color: rgb(47, 255, 0);
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: rgb(0, 115, 255);
    }

    100% {
        background-color: rgb(131, 226, 15);
    }
}

@media only screen and (max-device-width: 481px) {
    .main {
        background-image: url(https://source.unsplash.com/420x900/?nature,water);
    }

    .box {
        border: 2px solid #d29a9a;
        border-bottom: 4px ridge #d29a9a;
        border-radius: 10px;
        height: 40vh;
        width: 56vw;
        padding: 5px;
        background: radial-gradient(rgb(237, 6, 141), red, yellow, blue, orange, violet, cyan, transparent);
        box-shadow: -6px 6px 9px chartreuse, 2px 2px 20px 3px black;
    }
}